{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load tz %} <!-- не забываем загрузить тег для работы с часовыми поясами -->

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

<!-- {% include 'input_output.html' %} -->

{% block content %}
    {% trans "Найти" as search %}
    <!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
    <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style>

    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token
    для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->
            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>>
        <input type="submit" value="set">
    </form>

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ time_now|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

    <h1>{% trans "Все публикации" %}</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <h3> {{ posts|length }} </h3>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="{{ search }}" />
    </form>

    <hr>
    <!-- D5 -->
    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">{% trans "Добавить новость" %}</a>
    {% endif %}
    {% if perms.news.add_post %}
    <a href="{% url 'article_create' %}">{% trans "Добавить статью" %}</a>
    {% endif %}

    {% if posts %}
        <table>
            <tr>
                <td>{% trans "Заголовок" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Содержание" %}</td>
                <!-- D5 -->
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>{% trans "Действия" %}</td>
                {% endif %}

            </tr>

            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a></td>
                <td>{{ post.time_in|date:'d M Y h i s' }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
                <!-- D5 -->
                <td>
                    {% if post.category_post == "NE" %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'news_edit' pk=post.id %}">{% trans "Изменить" %}</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'news_delete' post.id %}">{% trans "Удалить" %}</a>
                        {% endif %}
                    {% else %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'article_edit' pk=post.id %}">{% trans "Изменить" %}</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'article_delete' post.id %}">{% trans "Удалить" %}</a>
                        {% endif %}
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Публикаций нет</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}